{% extends 'material-ui/home-base.html' %}

{% load static %}

{% block main %}
<div class="card p-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-white fade show d-flex align-items-center" role="alert">
                <span class="alert-icon me-2">
                    <i class="fa-solid fa-thumbs-up fs-5"></i>
                </span>
                <span class="alert-text flex-grow-1">{{ message }}</span>
                <button type="button" class="btn-close py-0 px-4" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="input-group input-group-static mb-4">
                <label >Nome</label>
                {{form.name}}
            </div>
        </div>
        <footer class="d-flex gap-2 justify-content-end">
            <a class="btn btn-secondary fw-bold" href="{% url 'specialty_list' %}">Cancelar</a>
            <button class="btn btn-primary fw-bold" type="submit">Cadastrar</button>
        </footer>
    </form>
</div>
{% endblock %}