{% extends 'material-ui/home-base.html' %}

{% load static %}


{% block main %}
<div class="card p-4">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-white fade show d-flex align-items-center" role="alert">
                <span class="alert-icon me-2">
                    <i class="fa-solid fa-thumbs-up fs-5"></i>
                </span>
                <span class="alert-text flex-grow-1">{{ message }}</span>
                <button type="button" class="btn-close py-0 px-4" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <form action="" method="post">

        {% csrf_token %}

        <div class="row">
            <div class="input-group input-group-static mb-4">
                <label >Nome completo</label>
                {{form.name}}
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-outline mb-4 mb-4 col d-flex flex-column">
                <label>Data de nascimento:</label>
                {{form.birth_date}}
            </div>
            <div class="input-group input-group-outline mb-4 mb-4 col d-flex flex-column">
                <label>Sexo:</label>
                {{form.gender}}
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-outline mb-4 mb-4 col d-flex flex-column">
                <label>CPF:</label>
                {{form.cpf}}
            </div>
            <div class="input-group input-group-outline mb-4 mb-4 col d-flex flex-column">
                <label>Email:</label>
                {{form.email}}
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-outline mb-4 col d-flex flex-column">
                <label>Registro de atuação:</label>
                {{form.registration_number}}
            </div>
            <div class="input-group input-group-outline mb-4 col d-flex flex-column">
                <label>Phone:</label>
                {{form.phone}}
            </div>
        </div>
        <div class="row mb-4 mx-1">
            <div class="col">
                <label class="form-label">Especialidades:</label>
                <div class="row border rounded p-3">
                    {% for checkbox in form.specialties %}
                      <div class="col-md-6 mb-2">
                        <div class="form-check">
                          {{ checkbox.tag }}
                          <label class="form-check-label" for="{{ checkbox.id_for_label }}">
                            {{ checkbox.choice_label }}
                          </label>
                        </div>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-outline mb-4">
                <label>Usuário:</label>
                {{form.user}}
            </div>
        </div>
        <footer class="d-flex gap-2 justify-content-end">
            <a class="btn btn-secondary fw-bold" href="{% url 'professional_list' %}">Cancelar</a>
            <button class="btn btn-primary fw-bold" type="submit">Cadastrar</button>
        </footer>


    </form>
</div>

{{ form.media }}
{% endblock %}