{% extends 'material-ui/home-base.html' %}

{% load static %}

{% block main %}
<div class="card p-4">
    <div id="modal-container"></div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-white fade show d-flex align-items-center" role="alert">
                <span class="alert-icon me-2">
                    <i class="fa-solid fa-thumbs-up fs-5"></i>
                </span>
                <span class="alert-text flex-grow-1">{{ message }}</span>
                <button type="button" class="btn-close py-0 px-4" data-bs-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div class="d-flex align-items-center justify-content-between flex-nowrap mb-3">
        <h3 class="mb-0 flex-grow-1">{{ professional.name }}</h3>
        <div class="ms-3 d-flex gap-2">
            <div class="form-check form-switch d-flex align-items-center gap-2 px-3 border rounded m-0">
                <label class="form-check-label mb-0 me-4 pe-3" for="is-active">Ativo:</label>
                <input 
                    class="form-check-input" 
                    type="checkbox" id="is-active" 
                    {% if professional.is_active %}checked{% endif %}
                    hx-post="{% url 'professional_active' professional.id %}"
                    hx-swap="none"
                    hx-trigger="change"
                >
            </div>
            <a 
                hx-get="{% url 'professional_delete' professional.id %}" 
                hx-target="#modal-container" 
                hx-swap="innerHTML"
                class="btn btn-danger text-white mb-0"
            >
                <i class="fa-solid fa-trash"></i>
            </a>
            <a class="btn btn-success text-white mb-0" href="{% url 'professional_update' professional.id %}">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </div>
    </div>
    <div class="row pt-3 border-top border-1">
        <div class="col my-2"><strong>Data de nascimento:</strong> {{professional.birth_date}}</div>
        <div class="col my-2"><strong>Sexo:</strong> {{ professional.get_gender_display_label }}</div>
    </div>
    <div class="row">
        <div class="col my-2"><strong>CPF:</strong> {{professional.cpf}}</div>
        <div class="col my-2"><strong>Telefone:</strong> {{professional.phone}}</div>
    </div>
    <div class="row">
        <div class="col my-2"><strong>Email:</strong> {{professional.email}}</div>
        <div class="col my-2"><strong>Registro de atuação:</strong> {{professional.registration_number}}</div>
    </div>
    <div class="row">
        <div class="col my-2"><strong>Cadastrado em:</strong> {{professional.created_at}}</div>
        <div class="col my-2"><strong>Modificado em:</strong> {{professional.updated_at}}</div>
    </div>
    <div class="row">
        <div class="col my-2">
            <strong>Especialidades: </strong>
            <div class="d-flex flex-wrap gap-2 mt-1">
              {% for specialty in professional.specialties.all %}
                <span class="badge bg-secondary py-1 px-2 text-white" style="line-height: 1; white-space: nowrap;">
                  {{ specialty.name }}
                </span>
              {% empty %}
                <span class="text-muted">Nenhuma</span>
              {% endfor %}
            </div>
        </div>
        <div class="col my-2"><strong>Usuário vinculado:</strong> {{professional.user.email}}</div>
    </div>
    <footer class="d-flex align-items-center justify-content-end">
        <a class="btn btn-secondary fw-bold" href="{% url 'professional_list' %}">Cancelar</a>
    </footer>
</div>
{% endblock %}