{% extends 'material-ui/home-base.html' %}

{% load static %}

{% block main %}
<div class="card p-2">
        <div class="table-responsive">
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible text-white fade show d-flex align-items-center" role="alert">
                    <span class="alert-icon me-2">
                        <i class="fa-solid fa-thumbs-up fs-5"></i>
                    </span>
                    <span class="alert-text flex-grow-1">{{ message }}</span>
                    <button type="button" class="btn-close py-0 px-4" data-bs-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="font-size: 2rem;">&times;</span>
                    </button>
                </div>
            {% endfor %}
          {% endif %}
          <table class="table align-items-center mb-0">
            <thead>
              <tr>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Nome</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Sexo</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Telefone</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Plano</th>
                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ações</th>
              </tr>
            </thead>
            <tbody>
                {% for patient in patients %}
              <tr>
                <td class="px-4">
                    {{ patient.name }}
                </td>
                <td>
                    <p class="text-xs font-weight-normal mb-0">{{ patient.gender }}</p>
                </td>
                <td>
                    <p class="text-xs font-weight-normal mb-0">{{ patient.phone }}</p>
                </td>
                <td class="align-middle text-center">
                  <div class="d-flex align-items-center">
                    <span class="me-2 text-xs">Hapvida</span>
                  </div>
                </td>
                <td class="align-middle">
                  <a class="btn btn-primary text-white mb-0" href="{% url 'patient_detail' patient.id %}">
                    <i class="fa-solid fa-pen-to-square"></i>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
</div>
{% endblock %}